<div class="logo">
  <a href="/"><  <img src="http://blog.flamingtext.com/blog/2017/06/10/flamingtext_com_1497086670_928761690.png" border="0"></a>
</div>

<ul class="nav nav-tabs">
  <li role="presentation"><a href="/">Home</a></li>
  <li role="presentation"><a href="/profile">MyProfile</a></li>
  <li role="presentation"><a href="/new">New</a></li>
</ul>