
body{
	background-image: url(images/grey.jpg);
	background-repeat: repeat;
}
.logo{  
		font-family: 'Helvetica Neue', sans-serif; 
		font-size: 2px; 
		font-weight: bold; 
		letter-spacing: -1px; 
		line-height: 1;  
	}
form{
	line-height: 3.428571;
}
.box{
	margin-top: -539px;
	margin-left: 416px;	
}
.contain{
	border-radius: 10%;
	margin-top: 173px;
	margin-left: 300px;
	width: 50%;
	background-image: url(images/background.jpg);
	background-repeat: no-repeat;
	height: 50vh;
}
.nav{
	background-color: #EAEAEA;
	margin-left: -12px;
	width: 50%;
}
.nav-tabs:hover{
	background-color: black;
}
footer{
 	position: absolute;
 	bottom: -15px;
 	left: 320px;
 
 }
#Nav-bar{
	margin-left: -298px;
}
#Nav-bar ul{
		margin-left: 250px;
		padding: 23px;
		margin-top: -117px;
		
}
#Nav-bar ul li{
	list-style:none;
	display: inline-block;
	margin-right: 20px;
	padding-left: 10px;
	color: #06365f;
}
span{
	color: blue;
}
.box {
	color: red;
	font-weight: bold;
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 10px;
  width: 500px;
  background-color: #fff;
  opacity: 0.6;
}
.info{
	background-color: green;
}
tbody{
	color:green;
}


@media only screen and (max-width: 500px) {
    .box {
       margin-left: -4px;
       margin-top: -533px;
       width: 371px;
    }
}
@media only screen and (max-width: 500px) {
    img {
       width: 137px;
    }
}
@media only screen and (max-width: 500px) {
    .contain {
       width: 0px;
    }
}
@media only screen and (max-width: 500px) {
    #Nav-bar ul li {
       margin-left: 590px;
       margin-bottom: 268px;
       width: 455px
    }
}
