/*body{
	background-image: url(images/background.jpg);
	background-repeat: no-repeat;
}
body, h6 {
    font-size: 2rem;

}*/
.logo{  
		font-family: 'Helvetica Neue', sans-serif; 
		font-size: 2px; 
		font-weight: bold; 
		letter-spacing: -1px; 
		line-height: 1;  
	}

.text{
	border-radius: 10%;
	margin-top: 200px;
	margin-left: 300px;
	width: 50%;
	background-image: url(images/background.jpg);
	background-repeat: no-repeat;
	height: 40vh;
}
.nav{
	background-color: #EAEAEA;
	margin-left: 200px;
	width: 100%;
}
footer{
 	position: absolute;
 	bottom: 65px;
 	left: 320px;
 
 }
#Nav-bar ul{
		margin: 0;
		padding: 0;
		
}
#Nav-bar ul li{
	list-style:none;
	display: inline-block;
	margin-right: 10px;
	padding-left: 10px;
	color: #06365f;
}
