
<form method="post" action="/<%= @users.id %>">
    
    <input type="hidden" name="_method" value="put">
    <div class="new">
    	<label for="username">Username</label>
    	<input type="text" name="username" value="<%= @users.username %>">
    </div>
    <div class="new">
    	<label for="expenses">Expenses</label>
    	<input type="text" name="expense" value="<%= @users.expenses %>">
    </div>
    <div class="new">
    	<label for="cost">Cost</label>
    	<input type="number" name="cost" value= "<%= @users.cost %>">
    </div>
    <input type="submit" value="Submit">
    
</form>

