<form method="post" action="/<%= @users.id %>">
    <input type="hidden" name="_method" value="put">

    <label for="username">UserName</label>
    <input type="text" name="username" value="<%= @users.username %>">

    <label for="expenses">Expenses</label>
    <textarea name="expenses"><%= @users.expenses %></textarea>

    <label for="cost">Cost</label>
    <textarea input="number" name="cost"><%= @users.cost %></textarea>

    <input type="submit" value="Submit">
    <button>DELETE</button>
</form>