
<form method="post" action="/<%= @users.id %>">
    
    <input type="hidden" name="_method" value="put">

    <th="username">UserName</th>
    <input type="text" name="username" value="<%= @users.username %>">

    <label for="expenses">Expenses</label>
    <input type="text" name="expense" value="<%= @users.expenses %>">

    <label for="cost">Cost</label>
    <textarea input="number"name="cost"><%= @users.cost %></textarea>

    <input type="submit" value="Submit">
    
</form>

