<div class="text">
    <!-- <h1 class="">Welcome To Expentra</h1>
    <p class="">Expentra is here to help you budget and SAVE your money..<br>our motto is: "you have nothing to loose!"</p> -->
</div>
<section>
    Welcome To Expentra
    Expentra is here to help you budget and SAVE your money..<br>our motto is: "you have nothing to loose!"
</section>
<footer>
    <nav id="Nav-bar">
      <ul>
          <li> About Us </li>
          <li> Support </li>
          <li> Blog </li>
          <li> Press </li>
          <li> API </li>
          <li> Jobs </li>
          <li> Privacy </li>
          <li> Terms </li>
         <li><span>&copy; 2014 Instagram </span></li>
        </ul>
    </nav>
  </footer>