<div class="text">
    <!-- <h1 class="">Welcome To Expentra</h1>
    <p class="">Expentra is here to help you budget and SAVE your money..<br>our motto is: "you have nothing to loose!"</p> -->
</div>

<div class="contain">
  <div class="box">
    <h1>Welcome to Expentra</h1>
    <p>Want to keep track on your expenses? <br> Allow Expentra to "cut" your "expenses" and keep track of your finances</p>
  </div>
</div>





<footer>
    <nav id="Nav-bar">
      <ul>
         <a href=""><li> About Us </li></a>
          <li> Support </li>
          <li> Blog </li>
          <li> Privacy </li>
          <li> Terms </li>
         <li><span>&copy; 2017 EXPENTRA </span></li>
        </ul>
    </nav>
  </footer>