<h1>Welcome to the homepage</h1>

<% @users.each do |users| %>
<div>
  <h3><a href="/<%= user.id %>"><%= users.username %></a></h3>
  <p><%= user.expenses %></p><p><%= users.cost %></p>
</div>
<% end %>
