<form method="post" action="/" class="form-horizontal">
 	<div class="form-group">
 		<label for="username">USERNAME</label>
  	<input type="text" name="username">

		<label for="expenses"> EXPENSES</label>
  	<input type="text" name="expenses">

  	<label for="cost"> COST</label>
  	<input type="number" name="cost">
		<input type="submit" value="Submit">
	</div>
</form>

