<form method="post" action="/">
    <label for="username"> USERNAME</label>
    <input type="text" name="username">

    <label for="expenses"> EXPENSES</label>
    <textarea name="expenses"></textarea>

     <label for="cost"> COST</label>
    <input type="number"name="cost"></textarea>

    <input type="submit" value="Submit">
</form>
<form method="post" action="/">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete">
</form>

